# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# IDE / editors
.vscode/
.idea/
*.swp
*.swo
*~

# Vercel
.vercel

# Dependencies (kelajak uchun, hozir kerak emas)
node_modules/
package-lock.json
yarn.lock

# Log fayllar
*.log
npm-debug.log*
yarn-error.log

# Environment
.env
.env.local
.env.*.local
